{% extends "layout.njk" %}

{% block head %}
    <title>Receita de {{items.title}}</title>
{% endblock %}

{% block content %}

    <div class="content-recipe-details">
        <img src="{{items.image}}" alt="{{items.title}}">
        <h1>{{items.title}}</h1>
        <h2>por {{items.author}}</h2>
        <section class="recipe-description-container">
            <div class="recipe-description" id="recipe-ingredients">
                <p>Ingredientes <a>ESCONDER</a></p>
                <article>
                    <ul>
                    {% for ingredient in items.ingredients %}
                        <li>{{ingredient}}</li>
                    {% endfor %} 
                    </ul>
                </article>
            </div>
            <div class="recipe-description" id="recipe-preparation">
                <p>Modo de preparo <a>ESCONDER</a></p>                 
                <article>
                    <ul>
                    {% for prepare in items.preparation %}
                        <li>{{prepare}}</li>
                    {% endfor %} 
                    </ul>
                </article>
            </div>
            <div class="recipe-description" id="recipe-information">
                <p>Informações adicionais <a>ESCONDER</a></p> 
                <article>{{items.information}}</article>
            </div>
        </section>
    </div>

    <script src="/scripts.js"></script>

{% endblock %}