{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock %}

{% block content %}

    <section class="cards" style="margin-top: 50px;">
        {% for item in items %}
        <div class="card" id="{{item.id}}">
            <div class="card__image-container">
                <img src="{{item.image}}" alt="{{item.title}}" id="card__image-link">
            </div>
            <div class="card__title">
                <p id="card__title">{{item.title}}</p>
            </div>
            <div class="card__author">
                <p id="card__author">por {{item.title}}</p>
            </div>
        </div>
        {% endfor %} 
    </section>

    <script src="/scripts.js"></script>

{% endblock %}