{% extends "./layout.njk" %}

{% block head %}
    <title>Editar receita de {{items.title}}</title>
{% endblock %}

{% block content %}

    <div class="page-menu">
        <h1>Editar receita: {{items.title}}</h1>
        <div class="form-wrapper">
            <form action="/admin/recipes?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{ recipe.id }}">
                <button class="delete-button" type="submit">Deletar</button>
            </form>    
            <form action="/admin/recipes?_method=PUT" method="POST">
                <input type="hidden" name="id" value="{{ recipe.id }}">
                <button class="save-button" type="submit">Salvar receita</button>
        </div>     
    </div>
    <section class="edit-details">
        {% include 'admin/fields.njk' %}
    </section>
    </form>

{% endblock %}