<div class="item">
    <div>Titulo da receita</div>
    <div><input type="url" name="recipe_title" value="{{ recipe.title }}"></div>
</div>
<div class="item">
    <div>Imagem da receita</div>
    <div><input type="text" name="recipe_image" placeholder="http://" value="{{ recipe.image }}"></div>
</div>
<div class="item">
    <div>Ingredientes</div>
    <div id="ingredients">
        <div class="ingredient">
            <input type="text" name="recipe_ingredients[]" value="" />
        </div>
    </div>
    <button type="button" class="add-ingredient">Adicionar ingrediente</button>
</div>
<div class="item">
    <div>Modo de preparo</div>
    <div id="directions">
        <div class="direction">
            <input type="text" name="recipe_directions[]" value="" />
        </div>
    </div>
    <button type="button" class="add-direction">Adicionar modo de preparo</button>
</div>
<div class="item">
    <div>Informações adicionais</div>
    <div><textarea name="recipe_additional">{{ recipe.additional }}</textarea></div>
</div>