<div class="item">
    <div>Titulo da receita</div>
    <div><input type="text" name="recipe_title" value="{{ recipe.title }}"></div>
</div>
<div class="item">
    <div>Imagem da receita</div>
    <div><input type="url" name="recipe_image" placeholder="http://" value="{{ recipe.image }}"></div>
</div>
<div class="item">
    <div>Ingredientes</div>
    <div id="ingredients">
        <div class="ingredient">
            {% if (recipe.ingredients) %}
                {% for ingredients in recipe.ingredients %}
                    <input type="text" name="recipe_ingredients[]" value="{{ ingredients }}" />
                {% endfor %}
            {% else %}
                <input type="text" name="recipe_ingredients[]" value="{{ ingredients }}" />
            {% endif %} 
        </div>
    </div>
    <button type="button" class="add-ingredient">Adicionar ingrediente</button>
</div>
<div class="item">
    <div>Modo de preparo</div>
    <div id="directions">
        <div class="preparation">
            {% if (recipe.preparation) %}
                {% for preparation in recipe.preparation %}
                    <input type="text" name="recipe_preparation[]" value="{{ preparation }}" />
                {% endfor %}
            {% else %}
                <input type="text" name="recipe_preparation[]" value="{{ preparation }}" />
            {% endif %}    
        </div>
    </div>
    <button type="button" class="add-preparation">Adicionar modo de preparo</button>
</div>
<div class="item">
    <div>Informações adicionais</div>
    <div><textarea name="recipe_information">{{ recipe.information }}</textarea></div>
</div>