@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font-black-dark: #111111;
    --font-black-light: #444444;
    --font-gray-dark: #777777;
    --font-gray-light: #999999;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background:white;
    font-family: 'Roboto', sans-serif;
}

.pages {
    text-align: left;
    max-width: 940px;
    max-height: 26.9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.pages a {
    font-size: 16px;
    color: var(--font-black-dark);
    text-decoration: none;
    margin-right: 30px;
    vertical-align: 40%;
}

.pages a:hover {
    color: #6b6b6b;
    transition: color 200ms;
}

#logo-img {
    margin-right: 122px;
    vertical-align: 0;
    text-decoration: none;    
}

.banner {
    background-color: #FBDFDB;
    width: 940px;
    height: 366px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: left;
    position: relative;
}

#container-banner-text {
    position: absolute;
    margin-top: 117px;
    margin-left: 60px;
    max-width: 316px;
}

#container-banner-text h1 {
    font-weight: 700;
    font-size: 32px;
}

#container-banner-text h2 {
    opacity: 0.7;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
}

#banner-img {
    position: absolute;
    width: 216px;
    height: 300px;
    right: 100px;
    top: 66px;
}

#wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#wrapper p {
    font-weight: 700;
    font-size: 24px;
    color: var(--font-black-dark);
}

.cards {
    width: 940px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;    
}

.card__image-container img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
}

.card__title{
    font-weight: 400;
    font-size: 18px;
    color: var(--font-black-dark);
    margin-top: 20px;
}

.card__author{
    font-weight: 400;
    font-size: 14px;
    color: var(--font-gray-dark);
    margin-top: 5px;
}

/*----- FOOTER -----*/
.footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #eeeeee;
    padding: 23px;
}

.footer p {
    font-weight: 400;
    font-size: 14px;
    color: var(--font-gray-light);
}

/*----- ABOUT PAGE -----*/
.content-about {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-about h1 {
    font-weight: 700;
    font-size: 24px;
    color: var(--font-black-dark);
}

.content-about h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--font-black-dark);
    margin-top: 30px;
}

.content-about p {
    font-weight: 400;
    font-size: 18px;
    color: var(--font-black-light);
    line-height: 28px;
    margin-top: 20px;
}

/*-- RECIPE DETAILS PAGE --*/
.content-recipe-details {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
    margin-bottom: 50px;
}

.content-recipe-details img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
}

.content-recipe-details h1 {
    font-weight: 700;
    font-size: 36px;
    color: var(--font-black-dark);
    margin-top: 50px;
    text-align: center;
}

.content-recipe-details h2 {
    font-weight: 400;
    font-size: 20px;
    color: var(--font-gray-dark);
    margin-top: 4px;
    text-align: center;
}

.content-recipe-details a {
    font-weight: 700;
    font-size: 12px;
    color: var(--font-gray-light);
    text-align: left;
}

.content-recipe-details p {
    font-weight: 700;
    font-size: 24px;
    color: var(--font-black-dark);
    text-align: left;
}    

.content-recipe-details article {
    font-weight: 400;
    font-size: 18px;
    color: var(--font-black-light);
    line-height: 28px;
    text-align: left;
    display: none;
}

.content-recipe-details article ul {
    list-style-position: inside;
    text-align: left;
}

.content-recipe-details article.active {
    display: inline;
}

.recipe-description-container {
    width: 100%;
    margin-top: 50px;
}

.recipe-description {
    margin-bottom: 39px;
}

/*---- NOT FOUND ----*/
.not-found {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    border-radius: 30px;
    margin-top: 13%;
    margin-bottom: 14%;
    background-color: #FBDFDB;
    position: relative;
}

.not-found h1 {
    font-weight: 700;
    font-size: 64px;
    color: var(--font-black-light);
    text-align: left;
    margin-top: 0px;
}

.not-found img {
    position: absolute;
    width: 216px;
    height: 300px;
    right: 100px;
    top: -25px;
}