<!DOCTYPE html>
<html>
    <head>

        {% block head %}{% endblock %}    

        <link rel="stylesheet" href="/styles.css">
    </head> 
    <body>

        <header>
        <div class="pages">
            <a href="/" id="logo-img"><img src="/assets/logo.png" alt="Foodfy-logo"></a>
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
        </div>

        {% block header %}{% endblock %}

        </header>

        {% block content %}{% endblock %}

        <div class="footer">
            <p>Todos direitos reservados, receitas Foodfy</p>
        </div>
    </body>
</html>